node-red/node-red.json
[
  {
      "id": "4626f4eca8ae462b",
      "type": "tab",
      "label": "BME280",
      "disabled": false,
      "info": "",
      "env": []
  },
  {
      "id": "6ee6e0e725972070",
      "type": "tab",
      "label": "GPIO's",
      "disabled": false,
      "info": "",
      "env": []
  },
  {
      "id": "9f9e276987b2fb1f",
      "type": "mqtt-broker",
      "name": "",
      "broker": "localhost",
      "port": "1883",
      "clientid": "",
      "autoConnect": true,
      "usetls": false,
      "protocolVersion": "4",
      "keepalive": "60",
      "cleansession": true,
      "autoUnsubscribe": true,
      "birthTopic": "",
      "birthQos": "0",
      "birthPayload": "",
      "birthMsg": {},
      "closeTopic": "",
      "closeQos": "0",
      "closePayload": "",
      "closeMsg": {},
      "willTopic": "",
      "willQos": "0",
      "willPayload": "",
      "willMsg": {},
      "userProps": "",
      "sessionExpiry": ""
  },
  {
      "id": "77e83d514b9bd6e2",
      "type": "ui-base",
      "name": "My Dashboard",
      "path": "/dashboard",
      "appIcon": "",
      "includeClientData": true,
      "acceptsClientConfig": [
          "ui-notification",
          "ui-control"
      ],
      "showPathInSidebar": true,
      "headerContent": "page",
      "navigationStyle": "default",
      "titleBarStyle": "default",
      "showReconnectNotification": true,
      "notificationDisplayTime": 1,
      "showDisconnectNotification": true
  },
  {
      "id": "f633910aef2e9d8b",
      "type": "ui-theme",
      "name": "Default Theme",
      "colors": {
          "surface": "#282828",
          "primary": "#95cadf",
          "bgPage": "#000000",
          "groupBg": "#afafaf",
          "groupOutline": "#0d0d0d"
      },
      "sizes": {
          "density": "default",
          "pagePadding": "12px",
          "groupGap": "12px",
          "groupBorderRadius": "4px",
          "widgetGap": "12px"
      }
  },
  {
      "id": "f244d991d7d0735a",
      "type": "ui-page",
      "name": "BME280",
      "ui": "77e83d514b9bd6e2",
      "path": "/page1",
      "icon": "home",
      "layout": "grid",
      "theme": "f633910aef2e9d8b",
      "breakpoints": [
          {
              "name": "Default",
              "px": "0",
              "cols": "3"
          },
          {
              "name": "Tablet",
              "px": "576",
              "cols": "6"
          },
          {
              "name": "Small Desktop",
              "px": "768",
              "cols": "9"
          },
          {
              "name": "Desktop",
              "px": "1024",
              "cols": "12"
          }
      ],
      "order": 1,
      "className": "",
      "visible": "true",
      "disabled": "false"
  },
  {
      "id": "32d4771e3f2730dd",
      "type": "ui-group",
      "name": "Temp",
      "page": "f244d991d7d0735a",
      "width": 4,
      "height": "4",
      "order": 1,
      "showTitle": true,
      "className": "",
      "visible": "true",
      "disabled": "false",
      "groupType": "default"
  },
  {
      "id": "9fb18d31c60ab4b8",
      "type": "ui-group",
      "name": "RH",
      "page": "f244d991d7d0735a",
      "width": 4,
      "height": 1,
      "order": 3,
      "showTitle": true,
      "className": "",
      "visible": "true",
      "disabled": "false",
      "groupType": "default"
  },
  {
      "id": "4bad576b391920a8",
      "type": "ui-group",
      "name": "Press",
      "page": "f244d991d7d0735a",
      "width": 4,
      "height": 1,
      "order": 2,
      "showTitle": true,
      "className": "",
      "visible": "true",
      "disabled": "false",
      "groupType": "default"
  },
  {
      "id": "73528bb91092cced",
      "type": "ui-group",
      "name": "Inputs",
      "page": "f244d991d7d0735a",
      "width": 12,
      "height": 1,
      "order": 4,
      "showTitle": true,
      "className": "",
      "visible": "true",
      "disabled": "false",
      "groupType": "default"
  },
  {
      "id": "c72da1dec48c5176",
      "type": "ui-page",
      "name": "Controls",
      "ui": "77e83d514b9bd6e2",
      "path": "/page2",
      "icon": "home",
      "layout": "grid",
      "theme": "f633910aef2e9d8b",
      "breakpoints": [
          {
              "name": "Default",
              "px": "0",
              "cols": "3"
          },
          {
              "name": "Tablet",
              "px": "576",
              "cols": "6"
          },
          {
              "name": "Small Desktop",
              "px": "768",
              "cols": "9"
          },
          {
              "name": "Desktop",
              "px": "1024",
              "cols": "12"
          }
      ],
      "order": 2,
      "className": "",
      "visible": "true",
      "disabled": "false"
  },
  {
      "id": "eea751cd59c30bc9",
      "type": "ui-group",
      "name": "Controls",
      "page": "c72da1dec48c5176",
      "width": 6,
      "height": 1,
      "order": 2,
      "showTitle": true,
      "className": "",
      "visible": "true",
      "disabled": "false",
      "groupType": "default"
  },
  {
      "id": "bcbfe66660dcf8c7",
      "type": "influxdb",
      "hostname": "127.0.0.1",
      "port": 8086,
      "protocol": "http",
      "database": "database",
      "name": "Database",
      "usetls": false,
      "tls": "",
      "influxdbVersion": "2.0",
      "url": "https://eu-central-1-1.aws.cloud2.influxdata.com",
      "timeout": 10,
      "rejectUnauthorized": true
  },
  {
      "id": "6802e7f370cd4a31",
      "type": "ui-group",
      "name": "Debug",
      "page": "c72da1dec48c5176",
      "width": 6,
      "height": 1,
      "order": 1,
      "showTitle": true,
      "className": "",
      "visible": "true",
      "disabled": "false",
      "groupType": "default"
  },
  {
      "id": "e488625c59b3303a",
      "type": "mqtt in",
      "z": "4626f4eca8ae462b",
      "name": "mqtt temp",
      "topic": "esp/bme280/temperature",
      "qos": "2",
      "datatype": "auto",
      "broker": "9f9e276987b2fb1f",
      "nl": false,
      "rap": true,
      "rh": 0,
      "inputs": 0,
      "x": 120,
      "y": 200,
      "wires": [
          [
              "94f7ce855f618ec2",
              "d12973a308a7b49f",
              "60fceb4e9c671441",
              "16e2c7310b4459b7",
              "2100b3056f7060b5"
          ]
      ]
  },
  {
      "id": "3d9e45e6a54996fe",
      "type": "mqtt in",
      "z": "4626f4eca8ae462b",
      "name": "mqtt hum",
      "topic": "esp/bme280/humidity",
      "qos": "2",
      "datatype": "auto",
      "broker": "9f9e276987b2fb1f",
      "nl": false,
      "rap": true,
      "rh": 0,
      "inputs": 0,
      "x": 120,
      "y": 560,
      "wires": [
          [
              "a106edce8b444678",
              "4d8a34f987d41325",
              "f843899b93c676c0",
              "60fceb4e9c671441",
              "cff10c52f99ba578"
          ]
      ]
  },
  {
      "id": "a106edce8b444678",
      "type": "ui-chart",
      "z": "4626f4eca8ae462b",
      "group": "9fb18d31c60ab4b8",
      "name": "chart RH",
      "label": "RH (%)",
      "order": 2,
      "chartType": "line",
      "category": "topic",
      "categoryType": "msg",
      "xAxisLabel": "",
      "xAxisProperty": "",
      "xAxisPropertyType": "timestamp",
      "xAxisType": "time",
      "xAxisFormat": "",
      "xAxisFormatType": "auto",
      "xmin": "",
      "xmax": "",
      "yAxisLabel": "",
      "yAxisProperty": "payload",
      "yAxisPropertyType": "msg",
      "ymin": "10",
      "ymax": "90",
      "bins": 10,
      "action": "append",
      "stackSeries": false,
      "pointShape": "false",
      "pointRadius": "1",
      "showLegend": true,
      "removeOlder": 1,
      "removeOlderUnit": "3600",
      "removeOlderPoints": "",
      "colors": [
          "#33aa33",
          "#ff0000",
          "#ff7f0e",
          "#51a5e6",
          "#a347e1",
          "#d62728",
          "#ff9896",
          "#9467bd",
          "#c5b0d5"
      ],
      "textColor": [
          "#666666"
      ],
      "textColorDefault": true,
      "gridColor": [
          "#e5e5e5"
      ],
      "gridColorDefault": true,
      "width": 6,
      "height": 6,
      "className": "col1",
      "interpolation": "linear",
      "x": 500,
      "y": 580,
      "wires": [
          []
      ]
  },
  {
      "id": "2100b3056f7060b5",
      "type": "debug",
      "z": "4626f4eca8ae462b",
      "name": "debug Temp",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 510,
      "y": 180,
      "wires": []
  },
  {
      "id": "94f7ce855f618ec2",
      "type": "ui-chart",
      "z": "4626f4eca8ae462b",
      "group": "32d4771e3f2730dd",
      "name": "chart Temp",
      "label": "Temp (ºC)",
      "order": 2,
      "chartType": "line",
      "category": "topic",
      "categoryType": "msg",
      "xAxisLabel": "",
      "xAxisProperty": "",
      "xAxisPropertyType": "timestamp",
      "xAxisType": "time",
      "xAxisFormat": "",
      "xAxisFormatType": "auto",
      "xmin": "",
      "xmax": "",
      "yAxisLabel": "",
      "yAxisProperty": "payload",
      "yAxisPropertyType": "msg",
      "ymin": "5",
      "ymax": "35",
      "bins": 10,
      "action": "append",
      "stackSeries": false,
      "pointShape": "false",
      "pointRadius": "1",
      "showLegend": true,
      "removeOlder": "3",
      "removeOlderUnit": "3600",
      "removeOlderPoints": "",
      "colors": [
          "#b40000",
          "#0000b4",
          "#ff7f0e",
          "#2ca02c",
          "#a347e1",
          "#d62728",
          "#ff9896",
          "#9467bd",
          "#c5b0d5"
      ],
      "textColor": [
          "#666666"
      ],
      "textColorDefault": true,
      "gridColor": [
          "#e5e5e5"
      ],
      "gridColorDefault": true,
      "width": 6,
      "height": 6,
      "className": "",
      "interpolation": "linear",
      "x": 510,
      "y": 220,
      "wires": [
          []
      ]
  },
  {
      "id": "d12973a308a7b49f",
      "type": "ui-gauge",
      "z": "4626f4eca8ae462b",
      "name": "gauge Temp",
      "group": "32d4771e3f2730dd",
      "order": 1,
      "width": 5,
      "height": 3,
      "gtype": "gauge-half",
      "gstyle": "rounded",
      "title": "Temp",
      "units": "ºC",
      "icon": "",
      "prefix": "",
      "suffix": "",
      "segments": [
          {
              "from": "0",
              "color": "#7fc4e1"
          },
          {
              "from": "15",
              "color": "#149614"
          },
          {
              "from": "23",
              "color": "#969600"
          },
          {
              "from": "28",
              "color": "#8c0000"
          }
      ],
      "min": 0,
      "max": "35",
      "sizeThickness": 16,
      "sizeGap": 4,
      "sizeKeyThickness": 8,
      "styleRounded": true,
      "styleGlow": false,
      "className": "",
      "x": 510,
      "y": 140,
      "wires": []
  },
  {
      "id": "4d8a34f987d41325",
      "type": "debug",
      "z": "4626f4eca8ae462b",
      "name": "debug RH",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 500,
      "y": 540,
      "wires": []
  },
  {
      "id": "f843899b93c676c0",
      "type": "ui-gauge",
      "z": "4626f4eca8ae462b",
      "name": "gauge RH",
      "group": "9fb18d31c60ab4b8",
      "order": 1,
      "width": 5,
      "height": 3,
      "gtype": "gauge-half",
      "gstyle": "rounded",
      "title": "RH",
      "units": "%",
      "icon": "",
      "prefix": "",
      "suffix": "",
      "segments": [
          {
              "from": "0",
              "color": "#969600"
          },
          {
              "from": "40",
              "color": "#149614"
          },
          {
              "from": "70",
              "color": "#8c0000"
          }
      ],
      "min": 0,
      "max": "100",
      "sizeThickness": 16,
      "sizeGap": 4,
      "sizeKeyThickness": 8,
      "styleRounded": true,
      "styleGlow": false,
      "className": "",
      "x": 500,
      "y": 500,
      "wires": []
  },
  {
      "id": "c1f484ba2b33eaa2",
      "type": "mqtt in",
      "z": "4626f4eca8ae462b",
      "name": "mqtt press",
      "topic": "esp/bme280/pressure",
      "qos": "2",
      "datatype": "auto",
      "broker": "9f9e276987b2fb1f",
      "nl": false,
      "rap": true,
      "rh": 0,
      "inputs": 0,
      "x": 120,
      "y": 380,
      "wires": [
          [
              "0f52cdb46632449a",
              "a3a2f7d4b23d26b6",
              "80872d6b9dd9991f",
              "60fceb4e9c671441",
              "5c5c148775209589"
          ]
      ]
  },
  {
      "id": "0f52cdb46632449a",
      "type": "ui-chart",
      "z": "4626f4eca8ae462b",
      "group": "4bad576b391920a8",
      "name": "chart Press",
      "label": "Press (mbar)",
      "order": 2,
      "chartType": "line",
      "category": "topic",
      "categoryType": "msg",
      "xAxisLabel": "",
      "xAxisProperty": "",
      "xAxisPropertyType": "timestamp",
      "xAxisType": "time",
      "xAxisFormat": "",
      "xAxisFormatType": "auto",
      "xmin": "",
      "xmax": "",
      "yAxisLabel": "",
      "yAxisProperty": "payload",
      "yAxisPropertyType": "msg",
      "ymin": "980",
      "ymax": "1030",
      "bins": 10,
      "action": "append",
      "stackSeries": false,
      "pointShape": "false",
      "pointRadius": "1",
      "showLegend": true,
      "removeOlder": 1,
      "removeOlderUnit": "3600",
      "removeOlderPoints": "",
      "colors": [
          "#50a0e6",
          "#ff0000",
          "#ff7f0e",
          "#51a578",
          "#a347e1",
          "#d62728",
          "#ff9896",
          "#9467bd",
          "#c5b0d5"
      ],
      "textColor": [
          "#666666"
      ],
      "textColorDefault": true,
      "gridColor": [
          "#e5e5e5"
      ],
      "gridColorDefault": true,
      "width": 6,
      "height": 6,
      "className": "col1",
      "interpolation": "linear",
      "x": 510,
      "y": 400,
      "wires": [
          []
      ]
  },
  {
      "id": "a3a2f7d4b23d26b6",
      "type": "debug",
      "z": "4626f4eca8ae462b",
      "name": "debug Press",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 510,
      "y": 360,
      "wires": []
  },
  {
      "id": "80872d6b9dd9991f",
      "type": "ui-gauge",
      "z": "4626f4eca8ae462b",
      "name": "gauge Press",
      "group": "4bad576b391920a8",
      "order": 1,
      "width": 4,
      "height": 3,
      "gtype": "gauge-half",
      "gstyle": "rounded",
      "title": "Press",
      "units": "mbar",
      "icon": "",
      "prefix": "",
      "suffix": "",
      "segments": [
          {
              "from": "900",
              "color": "#8b9047"
          },
          {
              "from": "970",
              "color": "#2d872c"
          },
          {
              "from": "1020",
              "color": "#29b0c2"
          }
      ],
      "min": "900",
      "max": "1050",
      "sizeThickness": 16,
      "sizeGap": 4,
      "sizeKeyThickness": 8,
      "styleRounded": true,
      "styleGlow": false,
      "className": "",
      "x": 510,
      "y": 320,
      "wires": []
  },
  {
      "id": "60fceb4e9c671441",
      "type": "ui-chart",
      "z": "4626f4eca8ae462b",
      "group": "73528bb91092cced",
      "name": "chart All",
      "label": "BME280",
      "order": 2,
      "chartType": "line",
      "category": "topic",
      "categoryType": "msg",
      "xAxisLabel": "",
      "xAxisProperty": "",
      "xAxisPropertyType": "timestamp",
      "xAxisType": "time",
      "xAxisFormat": "",
      "xAxisFormatType": "auto",
      "xmin": "",
      "xmax": "",
      "yAxisLabel": "",
      "yAxisProperty": "payload",
      "yAxisPropertyType": "msg",
      "ymin": "5",
      "ymax": "1100",
      "bins": 10,
      "action": "append",
      "stackSeries": false,
      "pointShape": "false",
      "pointRadius": "1",
      "showLegend": true,
      "removeOlder": "3",
      "removeOlderUnit": "3600",
      "removeOlderPoints": "",
      "colors": [
          "#b40000",
          "#13a300",
          "#0fc3ff",
          "#2ca02c",
          "#a347e1",
          "#d62728",
          "#ff9896",
          "#9467bd",
          "#c5b0d5"
      ],
      "textColor": [
          "#666666"
      ],
      "textColorDefault": true,
      "gridColor": [
          "#e5e5e5"
      ],
      "gridColorDefault": true,
      "width": 10,
      "height": 6,
      "className": "",
      "interpolation": "linear",
      "x": 280,
      "y": 300,
      "wires": [
          []
      ]
  },
  {
      "id": "16e2c7310b4459b7",
      "type": "function",
      "z": "4626f4eca8ae462b",
      "name": "func. Temp",
      "func": "msg.payload = [\n    { temperature: Number (msg.payload) },\n    {   sensor: \"BME280\",\n        device: \"ESP8266\",\n        room: \"office\"\n    }\n];\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 510,
      "y": 260,
      "wires": [
          [
              "d2758600007a22ac"
          ]
      ]
  },
  {
      "id": "d2758600007a22ac",
      "type": "influxdb out",
      "z": "4626f4eca8ae462b",
      "influxdb": "bcbfe66660dcf8c7",
      "name": "influx Temp",
      "measurement": "meteo",
      "precision": "",
      "retentionPolicy": "",
      "database": "database",
      "precisionV18FluxV20": "s",
      "retentionPolicyV18Flux": "",
      "org": "Cimanes",
      "bucket": "Pi01",
      "x": 710,
      "y": 260,
      "wires": []
  },
  {
      "id": "5c5c148775209589",
      "type": "function",
      "z": "4626f4eca8ae462b",
      "name": "func. Press",
      "func": "msg.payload = [\n    { pressure: Number (msg.payload) },\n    {   sensor: \"BME280\",\n        device: \"ESP8266\",\n        room: \"office\"\n    }\n];\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 510,
      "y": 440,
      "wires": [
          [
              "4c21656d105d9a41"
          ]
      ]
  },
  {
      "id": "4c21656d105d9a41",
      "type": "influxdb out",
      "z": "4626f4eca8ae462b",
      "influxdb": "bcbfe66660dcf8c7",
      "name": "influx Press",
      "measurement": "meteo",
      "precision": "",
      "retentionPolicy": "",
      "database": "database",
      "precisionV18FluxV20": "s",
      "retentionPolicyV18Flux": "",
      "org": "Cimanes",
      "bucket": "Pi01",
      "x": 710,
      "y": 440,
      "wires": []
  },
  {
      "id": "cff10c52f99ba578",
      "type": "function",
      "z": "4626f4eca8ae462b",
      "name": "func. RH",
      "func": "msg.payload = [\n    { humidity: Number (msg.payload) },\n    {   sensor: \"BME280\",\n        device: \"ESP8266\",\n        room: \"office\"\n    }\n];\nreturn msg;",
      "outputs": 1,
      "timeout": 0,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 500,
      "y": 620,
      "wires": [
          [
              "cce5b66e0055a7e1"
          ]
      ]
  },
  {
      "id": "cce5b66e0055a7e1",
      "type": "influxdb out",
      "z": "4626f4eca8ae462b",
      "influxdb": "bcbfe66660dcf8c7",
      "name": "influx RH",
      "measurement": "meteo",
      "precision": "",
      "retentionPolicy": "",
      "database": "database",
      "precisionV18FluxV20": "s",
      "retentionPolicyV18Flux": "",
      "org": "Cimanes",
      "bucket": "Pi01",
      "x": 700,
      "y": 620,
      "wires": []
  },
  {
      "id": "e090b8954401d58a",
      "type": "debug",
      "z": "4626f4eca8ae462b",
      "name": "debug Interval",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 340,
      "y": 40,
      "wires": []
  },
  {
      "id": "79c47b6764732b12",
      "type": "ui-number-input",
      "z": "4626f4eca8ae462b",
      "group": "73528bb91092cced",
      "name": "BME Interval",
      "label": "interval",
      "order": 1,
      "width": 0,
      "height": 0,
      "topic": "topic",
      "topicType": "msg",
      "min": 0,
      "max": "900",
      "step": "10",
      "tooltip": "",
      "passthru": false,
      "sendOnBlur": false,
      "sendOnEnter": false,
      "className": "",
      "clearable": false,
      "icon": "",
      "iconPosition": "left",
      "iconInnerPosition": "inside",
      "spinner": "default",
      "x": 130,
      "y": 60,
      "wires": [
          [
              "e090b8954401d58a",
              "b1939cd3dce59041"
          ]
      ]
  },
  {
      "id": "b1939cd3dce59041",
      "type": "mqtt out",
      "z": "4626f4eca8ae462b",
      "name": "interval",
      "topic": "bme/interval",
      "qos": "2",
      "retain": "true",
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "9f9e276987b2fb1f",
      "x": 320,
      "y": 80,
      "wires": []
  },
  {
      "id": "a7c3a74e711d2061",
      "type": "mqtt out",
      "z": "6ee6e0e725972070",
      "name": "GPIO 12",
      "topic": "esp/digital/12",
      "qos": "2",
      "retain": "true",
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "9f9e276987b2fb1f",
      "x": 360,
      "y": 60,
      "wires": []
  },
  {
      "id": "b8c346de5967093e",
      "type": "ui-switch",
      "z": "6ee6e0e725972070",
      "name": "GPIO 12",
      "label": "GPIO 12",
      "group": "eea751cd59c30bc9",
      "order": 1,
      "width": 0,
      "height": 0,
      "passthru": true,
      "decouple": false,
      "topic": "topic",
      "topicType": "msg",
      "style": "",
      "className": "",
      "layout": "row-spread",
      "clickableArea": "switch",
      "onvalue": "true",
      "onvalueType": "bool",
      "onicon": "",
      "oncolor": "",
      "offvalue": "false",
      "offvalueType": "bool",
      "officon": "",
      "offcolor": "",
      "x": 160,
      "y": 60,
      "wires": [
          [
              "a7c3a74e711d2061"
          ]
      ]
  },
  {
      "id": "e7484c10d18a08e0",
      "type": "mqtt out",
      "z": "6ee6e0e725972070",
      "name": "GPIO 13",
      "topic": "esp/digital/13",
      "qos": "2",
      "retain": "true",
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "9f9e276987b2fb1f",
      "x": 360,
      "y": 120,
      "wires": []
  },
  {
      "id": "0fc1aea9f3405373",
      "type": "ui-switch",
      "z": "6ee6e0e725972070",
      "name": "GPIO 13",
      "label": "GPIO 13",
      "group": "eea751cd59c30bc9",
      "order": 2,
      "width": 0,
      "height": 0,
      "passthru": true,
      "decouple": false,
      "topic": "topic",
      "topicType": "msg",
      "style": "",
      "className": "",
      "layout": "row-spread",
      "clickableArea": "switch",
      "onvalue": "true",
      "onvalueType": "bool",
      "onicon": "",
      "oncolor": "",
      "offvalue": "false",
      "offvalueType": "bool",
      "officon": "",
      "offcolor": "",
      "x": 160,
      "y": 120,
      "wires": [
          [
              "e7484c10d18a08e0"
          ]
      ]
  },
  {
      "id": "2f149303cc7a4594",
      "type": "mqtt out",
      "z": "6ee6e0e725972070",
      "name": "GPIO 15",
      "topic": "esp/digital/15",
      "qos": "2",
      "retain": "true",
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "9f9e276987b2fb1f",
      "x": 360,
      "y": 240,
      "wires": []
  },
  {
      "id": "0bf646a5ee86c4f7",
      "type": "ui-switch",
      "z": "6ee6e0e725972070",
      "name": "GPIO 15",
      "label": "GPIO 15",
      "group": "eea751cd59c30bc9",
      "order": 4,
      "width": 0,
      "height": 0,
      "passthru": true,
      "decouple": false,
      "topic": "topic",
      "topicType": "msg",
      "style": "",
      "className": "",
      "layout": "row-spread",
      "clickableArea": "switch",
      "onvalue": "true",
      "onvalueType": "bool",
      "onicon": "",
      "oncolor": "",
      "offvalue": "false",
      "offvalueType": "bool",
      "officon": "",
      "offcolor": "",
      "x": 160,
      "y": 240,
      "wires": [
          [
              "2f149303cc7a4594"
          ]
      ]
  },
  {
      "id": "c120391591a4b172",
      "type": "mqtt out",
      "z": "6ee6e0e725972070",
      "name": "GPIO 14",
      "topic": "esp/digital/14",
      "qos": "2",
      "retain": "true",
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "9f9e276987b2fb1f",
      "x": 360,
      "y": 180,
      "wires": []
  },
  {
      "id": "985d3512e085a926",
      "type": "ui-switch",
      "z": "6ee6e0e725972070",
      "name": "GPIO 14",
      "label": "GPIO 14",
      "group": "eea751cd59c30bc9",
      "order": 3,
      "width": 0,
      "height": 0,
      "passthru": true,
      "decouple": false,
      "topic": "topic",
      "topicType": "msg",
      "style": "",
      "className": "",
      "layout": "row-spread",
      "clickableArea": "switch",
      "onvalue": "true",
      "onvalueType": "bool",
      "onicon": "",
      "oncolor": "",
      "offvalue": "false",
      "offvalueType": "bool",
      "officon": "",
      "offcolor": "",
      "x": 160,
      "y": 180,
      "wires": [
          [
              "c120391591a4b172"
          ]
      ]
  },
  {
      "id": "6079a9a3b2d06b08",
      "type": "debug",
      "z": "6ee6e0e725972070",
      "name": "ESP Debug",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 350,
      "y": 320,
      "wires": []
  },
  {
      "id": "4f3ec602bbdddf02",
      "type": "mqtt out",
      "z": "6ee6e0e725972070",
      "name": "debug",
      "topic": "esp/debug",
      "qos": "2",
      "retain": "true",
      "respTopic": "",
      "contentType": "",
      "userProps": "",
      "correl": "",
      "expiry": "",
      "broker": "9f9e276987b2fb1f",
      "x": 330,
      "y": 360,
      "wires": []
  },
  {
      "id": "9021d18f82f4ac42",
      "type": "ui-switch",
      "z": "6ee6e0e725972070",
      "name": "Debug",
      "label": "Debug",
      "group": "6802e7f370cd4a31",
      "order": 1,
      "width": 0,
      "height": 0,
      "passthru": false,
      "decouple": false,
      "topic": "topic",
      "topicType": "msg",
      "style": "",
      "className": "",
      "layout": "row-spread",
      "clickableArea": "switch",
      "onvalue": "true",
      "onvalueType": "bool",
      "onicon": "",
      "oncolor": "",
      "offvalue": "false",
      "offvalueType": "bool",
      "officon": "",
      "offcolor": "",
      "x": 150,
      "y": 340,
      "wires": [
          [
              "4f3ec602bbdddf02",
              "6079a9a3b2d06b08"
          ]
      ]
  }
]